*{
    margin: 0;
    padding: 0%;
}

div {
    margin: auto;
    background-color:cadetblue;
}
h1 {
    text-align: center;
    color: royalblue;
    font-size: 50px;
    padding: 40px;
}
p {
    font-size: 25px;
    color: royalblue;
    background-color: aquamarine;
    padding: 30px;
}